
html {
    background-color: black;
    /* background-image: url("../images/background.svg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;  */
}

#ChampionList, #ItemList {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:40vh;
    position: relative;
    float: left;
    width: 100%;
    background-color: white;
}

#ChampionListItem, #ItemListItem {
    cursor: pointer;
    border-radius: 0px;
    width: 20%;
    height: 100px;
    float: left;
    margin-top: 1px;
    background-color: white;
}

#ChampionListItem:hover, #ItemListItem:hover {
    background-color: turquoise;
}

#Title {
    color: white;
    font-size: 10rem;
    font-family: 'Oswald', sans-serif, serif;
}

#Subtitle {
    color: white;
    font-size: 2rem;
}

#userInput {
    text-align: center;
    width: 50%;
    font-size: 2rem;
    height: 50px;
}

/* For mobile phones: */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: contain;
    }

    #TeemoImage {
        display: none;
    }

    #Title {
        font-size: 3rem;
    }

    #Subtitle {
        font-size: 1rem;
    }

    #ChampionListContainer {
        max-height: 10%;
    }
}

#AbilityStats{
    color: white;
    text-align: center;
}

#AbilityCard {
    background-color: black;
}

#PlayerLevel {
    width: 50%;
    height: 10%;
}

#ChampionName {
    font-size: 3rem;
    color: white;
    width: 100%;
    text-align: center;
}

#Item {
    cursor: pointer;
}

#ChampionStats {
    margin-left: 55px;
}

#EnemyStats {
    margin-right: 55px;
}

#PlayerChampion, #EnemyChampion, #AbilitySection {
    /* background: rgba(255, 255, 255, 0.5) */
    border: white 5px solid;
}