#root {
    max-height: 100vh;
    height: 100vh;
}

/* html {
    overflow-y: hidden;
} */

#HeroBanner {
    height: 100vh;
}

#ChampionList {
    display: none;
    position: relative;
    top: 20px;
}

#ChampionListItem {
    cursor: pointer;
    background-color:white;
    float: left;
    margin-top: 1px;
    border: 1px solid black;
    width: 10%;
    height: 100%;
    text-align: center;
}
#ChampionListItem:hover{
    background-color:blue;
}

#ChampionName {
    font-size: 100%;
    height:50px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#AppCentering{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;   
}