body {
    background-image: url("../images/background.svg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height :100vh;
}

#ChampionList, #ItemList {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:40vh;
    position: relative;
    float: left;
    width: 100%;
    background-color: white;
}

#ChampionListItem, #ItemListItem {
    cursor: pointer;
    border-radius: 0px;
    width: 20%;
    height: 100px;
    float: left;
    margin-top: 1px;
    background-color: white;
}

#ChampionName {
    font-size: 1rem;
    color: red;
}

#ChampionListItem:hover, #ItemListItem:hover {
    background-color: turquoise;
}

#Title {
    color: whitesmoke;
    font-size: 10rem;
    font-family: 'Oswald', sans-serif, serif;
    mix-blend-mode: difference;
}

#Subtitle {
    font-size: 2rem;
}

#userInput {
    text-align: center;
    width: 50%;
    font-size: 2rem;
    height: 50px;
}

/* For mobile phones: */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: contain;
    }

    #TeemoImage {
        display: none;
    }

    #Title {
        font-size: 3rem;
    }

    #Subtitle {
        font-size: 1rem;
    }

    #ChampionListContainer {
        max-height: 10%;
    }
}

#AbilityStats{
    color: red;
}

#PlayerLevel {
    width: 15%;
}

#ChampionName {
    font-size: 3rem;
    width: 20%;
}

#ChampionSkilss {
    height: 50vh;
}

#Item {
    cursor: pointer;
}